
.panel{
    background-color: grey;
    border: 1px solid grey;
    width: 1204px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.anuncio-1{
    border-color: white;
    width: 400px;
    height: 600px;
    text-align: center;
    float: right;
}

.ali{
    margin-top: 20px;
    width: 300px;
    height: 500px;
}

input {
    width: 80px; 
    background-color: cyan;
    color: black;
    border: 5px solid  greenyellow;
    border-radius: 5px;
    padding: 10px; 
    margin-top: 10px;
    font-size: 15px;
}

.botao { 
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4ca0af;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
